.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  transition: opacity .3s linear;
}

.footer__column-link:hover {
  opacity: .3;
}
